html {
    font-family: "Mukta";

}

body {
    background-color: #c9c688;
    opacity: 0.4;
}

.header-container {
    display: flex;
    justify-content: center;
    border: 5px solid #55532a;
    border-radius: 10px;
}

h1 {

    margin-right: auto;
    flex: 1;
}

.screen {
    display: flex;
    justify-content: space-evenly;
}

h2 {
    text-align: center;
    background-color: #4d4b2e;
    border: 5px solid #55532a;
    border-radius: 10px;
    width: 500px;
}

p {
    text-align: center;
    border: 5px solid #55532a;
    border-radius: 10px;
    font-size: 5em;

}


.display {
    display: flex;
    justify-content: center;
    margin-top: -100px;
}

button {
    background-color: #55532a;
    border: 5px solid #55532a;
    border-radius: 20px;
    font-size: 5em;
}

button:hover{
    background-color: #e4e4e3;
    transform: scale(1.1);
}